<h1><%=error%></h1>
<hr>
<div>
    <button id="goToRegisterButton" type="button" class="btn btn-warning" >ir al Login</button>
</div>
<script>
    function goToLogin(){
        location.href = `http://localhost:8080/login`
    }
    goToRegisterButton.addEventListener('click', () => goToLogin());
</script>
