<fieldset class="container">
    <legend>Formulario</legend>
    <div id="colorForm" class="col-6">
        <h4>Colores</h4>
        <div class="col-6">
            <label for="title" class="form-label"><strong>Color</strong></label>
            <input type="text" class="form-control" id="colorInput" placeholder="Ingrese color">
        </div>
    </div>
</fieldset>

<div class="container" id="buttons">
    <button id="submitButton" type="button" class="btn btn-secondary">Submit</button>
</div>