<% if (!("error" in colors)) {%>
    <table class="table table-hover table-striped table-dark">
        <thead>
            <th>Id</th>
            <th>Fecha ingreso</th> 
            <th>Color</th>
        </thead>
        <tbody id="tableBody">
        <% for(let i=0; i<colors.length; i++){ %>
            <tr style="color:<%=colors[i]?.color%>">
                <td><%=colors[i]?.id%></td>
                <td><%=colors[i]?.fecha%></td>
                <td><%=colors[i]?.color%></td>
            </tr>
        <% } %>
        </tbody>
    </table>
<% } %>