.btn {
    margin: 10px;
    min-width: 100px;
}
#buttons{
    margin-top: 20px;
}

#results{
    margin-left: auto;
    width: 100%;
}

.errorLabel{
    color: red;
}

.errorInput{
    border-color: red !important;
}

#server {
    display: inline;
    width: 50%
}

#chat input{
    display: inline;
    width: 50%;
    margin: 10px 0px 10px 0px;
}

#chat label{
    width: 10%;
}

#server span {
    display: inline;
    width: 2.5rem;
}

#server input {
    width: 30%;
}