<h2>Zona de Mensajes</h2>
<div class="col-md-3">
    <label for="user" class="form-label">Usuario</label>
    <input type="text" class="form-control" id="userInput" placeholder="Ingrese usuario">
    <!-- <div class="user mb-3">
        <label for="title" class="form-label">Correo</label>
        <input type="text" class="form-control" id="userInput" placeholder="Ingrese correo">
        <div id="server">
            <span class="input-group-text">@</span>
            <input type="text" class="form-control" placeholder="Dominio" aria-label="Server">
        </div>
    </div> -->
</div>
<div class="col-md-8">
    <label for="msj" class="form-label">Mensaje</label>
    <input type="text" class="form-control" id="msgInput" placeholder="Ingrese mensaje">
    <button id="sendMsgButton" type="button" class="btn btn-primary" >Enviar</button>
</div>
<hr>
<div id="msjs" class="col-md-5">
    <%- include('./chat.ejs') %>
</div>