<div id="msjs">
    <% if (!("error" in msgs)) {%>
        <% for(let i=0; i<msgs.length; i++){ %>
            <div>
                <p><strong><%=msgs[i].usuario%>:</strong><br><%=msgs[i].mensaje%><br><em>Recibido el <%=msgs[i].fecha%></em></p>
            </div>
        <% } %>
    <% } %>
</div>