{{#if this}}
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Imagen</th>
        </thead>
        <tbody>
        {{#each products}}
            <tr>
                <td>{{id}}</td>
                <td>{{title}}</td>
                <td>{{price}}</td>
                <td>{{thumbnail}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{/if}}